<div
  (click)="goToHome()"
  id="container"
  class="flex w-fit shrink-0 cursor-pointer items-center gap-2 p-2 pl-0"
>
  <img
    [src]="logo_image()"
    alt="PocketDuka"
    class="h-10 w-10 shrink-0 rounded-lg object-cover shadow-sm"
  />

  <h1
    class="whitespace-nowrap bg-gradient-to-r from-orange-500 to-purple-600 bg-clip-text text-transparent"
  >
    <span class="text-3xl font-extrabold">P</span><span class="text-xl font-bold">oket</span
    ><span class="text-3xl font-extrabold">D</span><span class="text-xl font-bold">uka</span>
  </h1>
</div>
